**/__pycache__/
**/secrets.yaml
**/secrets.yaml.disabled
**/*.log
**/*.db*
/!not used custom components
/.HA_VERSION
/.cloud
/.google.token
/.shopping_list.json
/.sonoff.json
/.storage
/.vscode
/cache.json
/H8O2IA~5
/__AddOn___Config.txt
/appdaemon
/deps
/faces
/google_calendars.yaml
/ic3_config
/image
/known_devices.yaml
/netdaemon
/node-red
/octopusagile.json
/pyozw.sqlite
/python_scripts
/snapshots
/tts
/www
/zigbee.db
/zones.yaml
/platerecogniser/