- id: '1698309392080'
  alias: Lock Car
  description: Check if the car doors have been left unlocked and, if so, lock them.
  trigger:
  - platform: time
    at: '22:00:00'
  condition:
  - condition: device
    device_id: fb121cea7fb34311eb0a8efb22bcf012
    domain: device_tracker
    entity_id: 69391f83a00c4d0edb7499199bd368bc
    type: is_home
  - condition: device
    device_id: fb121cea7fb34311eb0a8efb22bcf012
    domain: lock
    entity_id: e843dc9038c5b77bfd4717f5d1f52960
    type: is_unlocked
  - type: is_off
    condition: device
    device_id: fb121cea7fb34311eb0a8efb22bcf012
    entity_id: b3c196afb02b85e136bfebde3c55ea91
    domain: binary_sensor
  action:
  - service: lock.lock
    data: {}
    target:
      device_id: fb121cea7fb34311eb0a8efb22bcf012
  - service: notify.mobile_app_peters_iphone
    data:
      title: Car Doors Locked
      message: Car doors were left unlocked. They have now been locked
  mode: single
- id: '1710761994420'
  alias: Back Garden Toggle Pergola Spots
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.back_garden_light_switches_2
    trigger: state
  conditions: []
  actions:
  - metadata: {}
    data: {}
    target:
      entity_id: light.back_garden_pergola_spots
    action: light.toggle
  mode: single
- id: '1711124179398'
  alias: Back Garden Toggle Pergola LED Strips
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.back_garden_light_switches_1
    trigger: state
  conditions: []
  actions:
  - metadata: {}
    data: {}
    target:
      entity_id: light.back_garden_pergola_leds
    action: light.toggle
  mode: single
- id: '1714292450273'
  alias: 'Heating On/Off Based on Temperature '
  description: ''
  trigger:
  - platform: state
    entity_id:
    - weather.home
    attribute: temperature
  condition: []
  action:
  - if:
    - condition: numeric_state
      entity_id: weather.home
      attribute: temperature
      above: input_number.heating_threshold
    then:
    - service: climate.turn_off
      metadata: {}
      data: {}
      target:
        floor_id:
        - upstairs
        - downstairs
    else:
    - service: climate.turn_on
      metadata: {}
      data: {}
      target:
        floor_id:
        - upstairs
        - downstairs
  mode: single
- id: '1714569976687'
  alias: Lounge TV Power
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.lounge_tv_power
    trigger: state
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: binary_sensor.lounge_tv_power
      state: 'on'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.lounge_tv_power
      action: switch.turn_on
    else:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.lounge_tv_power
      action: switch.turn_off
  mode: single
- id: '1719415346866'
  alias: Jacob TV Power
  description: ''
  triggers:
  - entity_id:
    - schedule.jacob_tv_power
    trigger: state
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: schedule.jacob_tv_power
      state: 'on'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.jacob_tv_power
      action: switch.turn_on
    else:
    - metadata: {}
      data: {}
      target:
        entity_id: switch.jacob_tv_power
      action: switch.turn_off
  mode: single
- id: '1734035589543'
  alias: Dishwasher Detergent Low
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.dishwasher_detergent
    to: Low
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Dishwasher
      message: Dishwasher detergent low
  mode: single
- id: '1734035665274'
  alias: Dishwasher Salt Low
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.dishwasher_salt
    to: Low
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Dishwasher
      message: Dishwasher salt low
  mode: single
- id: '1734035721862'
  alias: Dishwasher Rinseaid Low
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.dishwasher_rinseaid
    to: Low
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Dishwasher
      message: Dishwasher rinseaid low
  mode: single
- id: '1741645268451'
  alias: Radarr New Download
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: radarr-import
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Radarr - Movie Downloaded
      message: "\U0001F3AC{{trigger['json']['movie']['title']}}\U0001F3AC"
  mode: single
- id: '1741645973523'
  alias: Radarr Upgrade
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: radarr-upgrade
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Radarr - Movie Upgraded
      message: "\U0001F3AC{{trigger['json']['movie']['title']}}\U0001F3AC"
  mode: single
- id: '1741646218522'
  alias: Sonarr New Download
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: sonarr-import
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Sonarr - Series Downloaded
      message: "\U0001F4FA{{trigger['json']['series']['title']}}\U0001F4FA"
  mode: single
- id: '1745664235460'
  alias: Sonarr Upgrade
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: sonarr-upgrade
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Sonarr - Series Upgraded
      message: "\U0001F4FA{{trigger['json']['series']['title']}}\U0001F4FA"
  mode: single
- id: '1745831097069'
  alias: TrueNAS App Update(s) Available
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.truenas_apps_updates_available
    to: 'on'
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: App Update(s) Available
      message: App Update(s) Available
  mode: single
- id: '1746094422405'
  alias: Radarr 4k New Download
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: radarr4k-import
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Radarr - 4k Movie Downloaded
      message: "\U0001F3AC{{trigger['json']['movie']['title']}}\U0001F3AC"
  mode: single
- id: '1746094589584'
  alias: Radarr 4k Upgrade
  description: ''
  triggers:
  - trigger: webhook
    allowed_methods:
    - POST
    local_only: true
    webhook_id: radarr4k-upgrade
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Radarr - 4k Movie Upgraded
      message: "\U0001F3AC{{trigger['json']['movie']['title']}}\U0001F3AC"
  mode: single
- id: '1749111163747'
  alias: Joshua TV Power
  description: ''
  triggers:
  - entity_id:
    - schedule.joshua_tv_power
    trigger: state
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: schedule.joshua_tv_power
      state: 'on'
    then:
    - metadata: {}
      data: {}
      action: switch.turn_on
      target:
        entity_id: switch.joshua_tv_power
    else:
    - metadata: {}
      data: {}
      action: switch.turn_off
      target:
        entity_id: switch.joshua_tv_power
  mode: single
- id: '1749111373871'
  alias: Lounge Sky Q Switch off Automatically
  description: ''
  triggers:
  - entity_id: media_player.lounge_tv
    to: 'off'
    for:
      hours: 0
      minutes: 5
      seconds: 0
    trigger: state
  conditions:
  - condition: state
    state: 'on'
    entity_id: media_player.lounge_sky_q
  actions:
  - entity_id: media_player.lounge_sky_q
    action: media_player.turn_off
  mode: single
- id: '1749112014664'
  alias: Front Garden Christmas Lights Off At 11:00pm
  description: ''
  triggers:
  - at: '23:00:00'
    trigger: time
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.front_garden_christmas_lights
  mode: single
- id: '1749112083129'
  alias: Front Garden Christmas Lights On At Dusk
  description: ''
  triggers:
  - event: sunset
    offset: +00:15:00
    trigger: sun
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: light.front_garden_christmas_lights
  mode: single
- id: '1749113941527'
  alias: Hall - Front Garden Light Switch Pressed
  description: ''
  triggers:
  - entity_id:
    - input_button.hall_front_garden_light_switch
    trigger: state
  conditions: []
  actions:
  - if:
    - condition: or
      conditions:
      - condition: state
        entity_id: light.back_garden_path_template
        state:
        - 'on'
      - condition: state
        entity_id: light.front_garden_soffits_template
        state:
        - 'on'
    then:
    - action: light.turn_off
      data: {}
      target:
        entity_id:
        - light.back_garden_path_template
        - light.front_garden_soffits_template
    else:
    - action: light.turn_on
      data: {}
      target:
        entity_id:
        - light.back_garden_path_template
        - light.front_garden_soffits_template
  mode: single
- id: '1749216727855'
  alias: Cat Flap Batteries Low
  description: ''
  triggers:
  - entity_id:
    - sensor.cat_flap_battery_level_adjusted
    below: 25
    attribute: value
    trigger: numeric_state
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      message: Batteries Low
      title: Cat Flap
  mode: single
- id: '1757429624566'
  alias: Apply App Updates
  description: ''
  triggers: []
  conditions: []
  actions:
  - repeat:
      for_each: '{{ states.update | selectattr(''entity_id'', ''search'', ''truenas_apps_'')
        | selectattr(''state'', ''eq'', ''on'') | map(attribute=''entity_id'') | list
        }}

        '
      sequence:
      - action: update.install
        data: {}
        target:
          entity_id: '{{ repeat.item }}'
  mode: single
- id: '1759760292813'
  alias: Overseerr - Pending Request
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.overseerr_last_media_event
    attribute: event_type
    to: pending
  conditions: []
  actions:
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Overseerr - New Request
      message: '{% set subject = state_attr(''event.overseerr_last_media_event'',
        ''subject'') %} {% set requestedBy = state_attr(''event.overseerr_last_media_event'',
        ''request'').requested_by_username %}  {{ subject }} was requested by {{ requestedBy
        }}'
      data:
        url: https://overseerr.pcooney.uk/requests
  mode: single
- id: '1759859494623'
  alias: Bedroom Lights When Home Late
  description: ''
  triggers:
  - trigger: zone
    entity_id: person.peter_cooney
    zone: zone.home
    event: enter
  conditions:
  - condition: sun
    after: sunset
  - condition: state
    entity_id: light.master_bedroom_side_lights
    state: 'off'
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: light.master_bedroom_side_lights
  - action: notify.mobile_app_peters_iphone
    metadata: {}
    data:
      title: Welcome Home
      message: Bedroom Lights Turned On
  mode: single
- id: '1763057872670'
  alias: YouTube Set Timer
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_select.enable_youtube
  - trigger: event
    event_type: timer.finished
    event_data:
      entity_id: timer.youtube_timer
    id: timer_finished
  - trigger: event
    event_type: timer.cancelled
    event_data:
      entity_id: timer.youtube_timer
    id: timer_cancelled
  conditions: []
  actions:
  - if:
    - condition: and
      conditions:
      - condition: trigger
        id:
        - timer_finished
        - timer_cancelled
      - condition: not
        conditions:
        - condition: state
          entity_id: input_select.enable_youtube
          state:
          - 'Off'
    then:
    - action: input_select.select_option
      metadata: {}
      data:
        option: 'Off'
      target:
        entity_id: input_select.enable_youtube
  - alias: Check Option
    choose:
    - conditions:
      - condition: state
        entity_id: input_select.enable_youtube
        state:
        - 'Off'
      sequence:
      - action: timer.cancel
        metadata: {}
        data: {}
        target:
          entity_id: timer.youtube_timer
      - action: timer.set_duration
        metadata: {}
        data:
          duration: 00:00:00
        target:
          entity_id: timer.youtube_timer
      - action: switch.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: switch.unifi_network_block_youtube
      alias: 'Off'
    - conditions:
      - condition: state
        entity_id: input_select.enable_youtube
        state:
        - 1 hour
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: 01:00:00
        target:
          entity_id: timer.youtube_timer
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.unifi_network_block_youtube
      alias: On for 1 hour
    - conditions:
      - condition: state
        entity_id: input_select.enable_youtube
        state:
        - 2 hours
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: 02:00:00
        target:
          entity_id: timer.youtube_timer
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.unifi_network_block_youtube
      alias: On for 2 hours
    - conditions:
      - condition: state
        entity_id: input_select.enable_youtube
        state:
        - 4 hours
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: 04:00:00
        target:
          entity_id: timer.youtube_timer
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.unifi_network_block_youtube
      alias: On for 4 hours
    - conditions:
      - condition: state
        entity_id: input_select.enable_youtube
        state:
        - 24 hours
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: '24:00:00'
        target:
          entity_id: timer.youtube_timer
      - action: switch.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: switch.unifi_network_block_youtube
      alias: On for 24 hours
  mode: single
- id: '1766410178085'
  alias: Kitchen Pendants
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.lounge_5_kitchen_pendants
      - switch.lounge_1_kitchen_pendants
- id: '1766410233397'
  alias: Kitchen Counters
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.kitchen_counters
      - switch.lounge_1_kitchen_counters
      - switch.lounge_5_kitchen_counters
- id: '1766410285382'
  alias: Kitchen/Dining Room Main Lights
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.kitchen_dining_room_main_lights
      - switch.lounge_4_kitchen_dining_room_main_lights
- id: '1766410311241'
  alias: Lounge Floor Lamps
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.lounge_2_floor_lamps
      - switch.lounge_3_lounge_floor_lamps
- id: '1766410341615'
  alias: Lounge Main Lights
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.lounge_main_lights
      - switch.lounge_4_lounge_main_lights
- id: '1766410842509'
  alias: Hot Tub LEDs
  description: ''
  use_blueprint:
    path: aderusha/link_multiple_devices.yaml
    input:
      linked_entities:
      - light.back_garden_pergola_leds
      - switch.lounge_2_hot_tub_leds
      - switch.lounge_3_hot_tub_leds
